@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
   Sample Web Api Application
</div>

<div class="row">
    <my-app>Loading...</my-app>
    <div class="col-md-3 col-sm-1">

    </div>
    <div class="col-md-3 col-sm-1">

    </div>
    <div class="col-md-3 col-sm-1">

    </div>
    <div class="col-md-3 col-sm-1">

    </div>

</div>

<script type="text/javascript">
        
</script>